$color-1: #fefae0;
$color-2: #dda15e;
$color-3: #bc6c25;
$color-4: #606c38;
$color-5: #283618;

.container {
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: $color-2;
  border: none;
  #author {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: $color-1;
    img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 3rem;
    }
    div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
  }
  #optionsContainer {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    button {
      width: 2rem;
      min-width: 2rem;  
      height: 2rem;
      border-radius: 2rem;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: $color-4;
      font-size: 1.5rem;
      svg {
        pointer-events: none;
        color: $color-1;
        transition: all .25s;
        path {
          pointer-events: none;
        }
      }
    }
    button:hover {
      svg {
        color: $color-2;
      }
    }
    #options {
      width: 2rem;
      height: 2rem;
      position: relative;
      > div {
        width: 4rem;
        position: absolute;
        left: 0;
        transform: translate(-50%);
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: .5rem;
        padding: .5rem;
        background-color: $color-4;
        color: $color-1;
        border: 1px solid $color-5;
        border-radius: .25rem;
        box-shadow: 0 0 .25rem 0 black;
        cursor: pointer;
        a {
          color: inherit;
        }
        > div:hover {
          color: $color-2;
        }
      }
    }
  }
}