@mixin expand {
  width: 100%;
  height: 100%;
}

$color-1: #fefae0;
$color-2: #dda15e;
$color-3: #bc6c25;
$color-4: #606c38;
$color-5: #283618;

.container {
  z-index: 1;
  width: 100%;
  height: 4rem;
  background: linear-gradient($color-5, $color-4);
  color: $color-1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 .5rem 0 black;
  font-size: 1.25rem;
  #nav {
    width: 80rem;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #logo {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        text-decoration: none;
        color: $color-1;
        transition: all .5s;
        img {
          height: 3.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          filter: blur(.125px) sepia(30%) drop-shadow(.125rem .125rem .125rem $color-5);
          transition: all .5s;
        }
        div {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Arvo', serif;
          text-shadow: .125rem .125rem .125rem $color-5;
        }
      }
      a:hover {
        color: $color-2;
        img {
          filter: blur(.125px) sepia(100%) drop-shadow(.125rem .125rem .125rem $color-5);
        }
      }
    }
    #subnav {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color-1;
          transition: all .5s;
          img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 3rem;
            object-fit: cover;
          }
          svg {
            width: 1.5rem;
            height: 1.5rem;
            padding: .5rem;
            border-radius: 3rem;
            background-color: #283618;
          }
        }
        a:hover {
          color: $color-2;
        }
      }
    }
  }
}