$color-1: #fefae0;
$color-2: #dda15e;
$color-3: #bc6c25;
$color-4: #606c38;
$color-5: #283618;

.landingContainer {
  color: $color-1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
  > * {
    border-bottom: 1px solid $color-4;
    padding: .5rem 0;
    width: calc(100% - 2rem);
  }
  #search {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    padding: 0;
    background-color: $color-5;
    border-radius: 2rem;
    border: 1px solid $color-5;
    label {
      width: 2.5rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
    input {
      width: 100%;
      height: 100%;
      padding: 0 .5rem;
      background-color: $color-1;
      color: $color-5;
      border-radius: 0 2rem 2rem 0;
      border: none;
      outline: none;
      font-size: 1rem;
    }
    input::placeholder {
      color: $color-4;
    }
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Arvo', serif;
    margin: 0 1rem;
  }
}

.loginContainer {
  color: $color-1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 1rem;
  font-size: 1.25rem;
  header {
    border-bottom: 1px solid $color-4;
    padding: 1rem 0;
    width: 100%;
    h1, h2 {
      font-weight: 400;
      font-size: 1.5rem;
      span {
        font-family: 'Arvo', serif;
        text-shadow: .25rem .25rem .75rem black;
        color: $color-2;
      }
    }
  }
  p {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid $color-4;
    span {
      font-family: 'Arvo', serif;
      text-shadow: .25rem .25rem .75rem black;
      color: $color-2;
    }
  }
  p:last-child {
    border: none;
  }
  footer {
    padding: 1rem 0;
    h1, h2 {
      font-weight: 400;
      font-size: 1.5rem;
      span {
        font-family: 'Arvo', serif;
        text-shadow: .25rem .25rem .75rem black;
        color: $color-2;
      }
    }
  }
}