$color-1: #fefae0;
$color-2: #dda15e;
$color-3: #bc6c25;
$color-4: #606c38;
$color-5: #283618;

.container {
  width: calc(100% + 2rem);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: .75rem;
  padding-right: 1rem;
  #spacer {
    width: .25rem;
    height: 100%;
    border-radius: 1rem;
  }
  #spacer.active {
    background-color: $color-2;
  }
  > div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 2rem;
  }
  #content {
    width: calc(100% - 6rem);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
    padding: .5rem 1rem;
    background-color: $color-4;
    color: $color-1;
    border-radius: 1rem;
    header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p:first-child {
        color: $color-1;
        font-weight: bold;
      }
      p:nth-child(2) {
        color: $color-2;
      }
    }
     > p {
       width: 100%;
      word-wrap: break-word;
      line-height: 125%;
    }
  }
  button {
    width: 2rem;
    min-width: 2rem;  
    height: 2rem;
    border-radius: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $color-4;
    color: $color-1;
    font-size: 1.5rem;
    svg {
      pointer-events: none;
      transition: all .25s;
      path {
        pointer-events: none;
      }
    }
  }
  button:hover {
    svg {
      color: $color-2;
    }
  }
  #options {
    position: relative;
    > div {
      width: 4rem;
      position: absolute;
      right: 0;
      transform: translate(50%);
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-end;
      gap: .5rem;
      padding: .5rem;
      background-color: $color-4;
      border: 1px solid $color-5;
      border-radius: .25rem;
      box-shadow: 0 0 .25rem 0 black;
      cursor: pointer;
      > div:hover {
        color: $color-2;
      }
    }
  }
}
