@media screen and (max-width: 1024px) {
  :root {
    body {
      #root {
        > main {
          > aside {
            display: none;
          }
          > section {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :root {
    body {
      #root {
        > main {
          > section {
            width: 100%;
            min-width: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  :root {
    body {
      #root {
        > main {
          padding: 0;
          > section {
            padding: 0;
            overflow: visible;
            border-radius: 0;
            > article {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}